.list-group-item-action.active:hover {
	background-color: var(--bs-list-group-active-bg);
	border-color: var(--bs-list-group-active-border-color);
	color: var(--bs-list-group-active-color);
	cursor: default;
}
